<h1>Novo Livro</h1>
<form action="/create" method="post">
    <div class="form-control">
        <label for="name">Título do Livro:</label>
        <input type="text" name="name" placeholder="Informe o título do livro!">
    </div>
    <div class="form-control">
        <label for="price">Preço Unitário:</label>
        <input type="text" name="price" placeholder="Informe o valor!">
    </div>
    <input type="submit" class="btn" value="Gravar">
</form>